{% extends 'base.html' %}

{% block title %}
Добавление статьи
{% endblock %}

{% block body %}
    <h1>Добавление статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" placeholder="Введите заголовок" class="form-control"><br>
        <textarea name="intro" id="intro" cols="30" placeholder="Введите вступление" rows="3" class="form-control"></textarea><br>
        <textarea name="text" id="text" cols="30" placeholder="Введите основной текст" rows="10" class="form-control"></textarea><br>
        <input type="submit" value="Отправить" class="btn btn-success">
    </form>
{% endblock %}
